doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' href='/stylesheets/layout.css')
    title= title
    block css
  body
    if message
      div(class="server-message")
        div(style="display:flex; align-items:center;")
          p= message
          button(id="serverMessageCloseBtn") &times;
    block content
    script(src="/javascripts/layout.js") 
